<button type="button" class="btn btn-success" data-toggle="modal" data-target="#EditAddRole" (click)="openModel()" style="margin: 50px;">Create New Role</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name Role</th>
      <th scope="col" colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let role of roleList" >
      <th scope="row">{{role.id}}</th>
      <td>{{role.roleName}}</td>
      <td>
        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#EditAddRole" (click)="openModel(role)">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteRole(role.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="EditAddRole" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Role Name</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="newRole.roleName">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" *ngIf="creatingMode" (click)="createRole()">Create Role</button>
        <button type="button" class="btn btn-primary" *ngIf="!creatingMode" (click)="modifyRole()">Modify Role</button>      </div>
    </div>
  </div>
</div>
