<button type="button" class="btn btn-success" data-toggle="modal" data-target="#EditAddUser" (click)="openModel()" style="margin: 50px;">Create New User</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Role Name</th>
      <th scope="col" colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList" >
      <th scope="row">{{user.id}}</th>
      <td>{{user.userName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.role.roleName}}</td>
      <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditAddUser" (click)="openModel(user)">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="EditAddUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">First and last name</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="userToModify.userName">
          <input type="text" class="form-control" [(ngModel)]="userToModify.lastName">
        </div><br>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Roles</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="userToModify.role.id">
            <option selected>Choose...</option>
            <option *ngFor="let role of roleList"  [value]="role.id">{{role.roleName}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" *ngIf="creatingMode" (click)="CreateUser()">Create User</button>
        <button type="button" class="btn btn-primary" *ngIf="!creatingMode" (click)="modifyUser()">Modify User</button>
      </div>
    </div>
  </div>
</div>
